@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Digital7";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/Digital7.ttf) format("ttf");
  }
}
